<h1>Listing investments</h1>

<table>

<% @investments.each do |investment| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
    	<dl>
    		<dt><%= link_to investment.name, investment %></dt>
    		<dd><%= investment.description %></dd>
    		<dd><%= investment.irr %></dd>
    	</dl>
    </td>
    <td>
    	<%= link_to 'Edit', edit_investment_path(investment) %><br/>
    	<%= link_to 'Destroy', investment, confirm: 'Are you sure?', method: :delete %><br/>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Investment', new_investment_path %>
