<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @investment.name %>
</p>

<p>
  <b>Description:</b>
  <%= @investment.description %>
</p>

<p>
  <b>Irr:</b>
  <%= @investment.irr %>
</p>


<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %>
